{% extends "shared/base.html" %}

{% block head %}
  <style type="text/css">
    .fillspace {
      display: inline-block;
      margin: 0;
    }

    .pager-text {
      font-variant: italic;
    }

    div.gap {
      height: 10px;
    }
  </style>
{% endblock %}

{% block body %}
  <h4 class="blue">
    Annotation Batches
  </h4>

  <ul class="pager">
  {% if page > 1 %}
    <li class="previous">
      <a href="?page={{ page|add:"-1" }}">&larr; Previous</a>
    </li>
  {% else %}
    <li class="previous disabled"><a href="#">&larr; Previous</a></li>
  {% endif %}

    <li>
      <h5 class="blue fillspace">
        Viewing page {{ page }} of {{ num_pages }}
      </h5>
    </li>

  {% if page < num_pages %}
    <li class="next">
      <a href="?page={{ page|add:"1" }}">Next &rarr;</a>
    </li>
  {% else %}
    <li class="next disabled"><a href="#">Next &rarr;</a></li>
  {% endif %}
  </ul> 

  <table class="table table-striped">
    <thead>
      <tr>
        <td nowrap>
          Batch Number
        </td>
        <td nowrap>
          Timestamp
        </td>
        <td nowrap>
          User ID
        </td>
        <td nowrap>
          &nbsp;
        </td>
      </tr>
    </thead>
    <tbody>
  {% for batch in batches %}
    <tr>
      <td nowrap>
        {{ batch.batch_number }}
      </td>
      <td nowrap>
        {{ batch.timestamp|date }} {{ batch.timestamp|time }}
      </td>
      <td nowrap>
        {{ batch.user_id }}
      </td>
      <td nowrap>
        <a href="/admin/annotations/batch/{{ batch.batch_number }}?back={{ back }}">
          View
        </a>
      </td>
    </tr>
  {% endfor %}
    </tbody>
  </table>
  <div class="pull-right">
    <a href="{{ done_url }}" class="btn btn-primary active" role="button">
      Done
    </a>
  </div>
{% endblock %}
