{% extends "boxUI/boxUI.html" %}
{% load boxUI_tags %}

{% block config %}
  {% set title         = "Ripple Annotation Database" %}
  {% set dialog_width  = 350 %}
  {% set dialog_height = 320 %}
  {% set header_height = 32 %}
  {% set footer_height = 15 %}
{% endblock %}

{% block page_head %}
  <style type="text/css">
    a:link, a:visited, a:active, a:hover {
      text-decoration: none;
      color: #ffffff;
    }
  </style>
{% endblock %}

{% block header %}
  <div style="margin-top: 4px">
    Ripple Annotation Database
  </div>
{% endblock %}

{% block contents %}
  <div style="height: 20px">
  </div>
  {% for label,url in options %}
  <div style="margin-left: 20px; width: 320px">
    {% if url %}
    <a href="{{ url }}">{{label}}</a>
    {% else %}
    <hr/>
    {% endif %}
  </div>
  {% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}

