{% extends "boxUI/boxUI.html" %}
{% load boxUI_tags %}

{% block config %}
  {% set title         = "Ripple Annotation Database" %}
  {% set dialog_width  = 560 %}
  {% set dialog_height = 220 %}
  {% set header_height = 32 %}
  {% set footer_height = 40 %}
{% endblock %}

{% block page_head %}
  <style type="text/css">
    a:link, a:visited, a:active, a:hover {
      text-decoration: none;
      color: #ffffff;
    }
    td.label {
      text-align: center;
      font-weight: bold;
      font-size: smaller;
    }
    td.field {
      text-align: left;
      font-size: smaller;
    }
    div.err_msg {
      width:540px;
      margin-left:10px;
      margin-right:10px;
      margin-top:5px;
      font-weight: bold;
      font-style: italic;
      color: red;
      text-align: center;
    }
    div.info_box {
      width: 540px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
    }
  </style>
{% endblock %}

{% block header %}
  <div class="centre" style="font-weight:bold; margin-top:4px">
    Search
  </div>
{% endblock %}

{% block dialog_prefix %}
 <form method="POST">
   {% csrf_token %}
{% endblock %}

{% block dialog_suffix %}
  </form>
{% endblock %}

{% block contents %}
  <div style="overflow:auto; width:520px; height:180px">
    <table border="0" cellspacing="0" cellpadding="5" style="margin-left:20px">
      <tr>
        <td class="label" nowrap>
          Search Query
        </td>
        <td class="field">
          <input type="text" size="60" maxlength="255"
                 name="query" value="{{ query }}">
        </td>
      </tr>
    </table>
    <div class="err_msg">
{% if err_msg %}
      {{ err_msg }}
{% endif %}
    </div>
    <div class="info_box">
      You can enter searches of the form <code>key="value"</code>.  More
      complicated searches can be built by combining simple searches with
      <code>and</code>, <code>or</code> or <code>not</code>, for example:
      <p/>
      <blockquote>
        <code>(name="tom") and (status="CURRENT")</code><br/>
        <code>not ((name="tom") or (name="dick") or (name="harry"))</code>
      </blockquote>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div style="width:560px; height:40px; margin-top:8px">
    <input type="submit" name="submit" value="Search"/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="submit" value="Cancel"/>
  </div>
{% endblock %}

