{% extends "boxUI/boxUI.html" %}
{% load boxUI_tags %}

{% block config %}
  {% set title         = "Ripple Annotation Database" %}
  {% set dialog_width  = 600 %}
  {% set dialog_height = 342 %}
  {% set header_height = 32 %}
  {% set footer_height = 40 %}
{% endblock %}

{% block page_head %}
  <style type="text/css">
    a:link, a:visited, a:active, a:hover {
      text-decoration: none;
      color: #a0a0a0;
    }
    td.label {
      text-align: right;
      font-weight: bold;
      font-size: smaller;
    }
    td.field {
      text-align: left;
      font-size: smaller;
    }
    span.err_msg {
      width:330px;
      margin-left:10px;
      margin-right:10px;
      margin-top: 10px;
      font-weight: bold;
      font-style: italic;
      color: red;
      text-align: center;
    }
  </style>
{% endblock %}

{% block header %}
  <div class="centre" style="font-weight:bold; margin-top:4px">
    Ripple Account Annotations
  </div>
{% endblock %}

{% block dialog_prefix %}
 <form method="POST">
   {% csrf_token %}
{% endblock %}

{% block dialog_suffix %}
  </form>
{% endblock %}

{% block contents %}
  <div style="overflow:auto; width:580px; height:270px; margin:10px">
    <table border="0" cellspacing="0" cellpadding="5"
           style="margin-left:10px; margin-top:10px">
  {% for row in annotations %}
      <tr>
        <td nowrap class="label white_text">
          {{ row.label }}
        </td>
        <td class="field">
    {% if row.type == "choice" %}
          <select name="{{ row.annotation }}">
      {% for key,label in row.choices %}
        {% if key == row.value %}
            <option value="{{ key }}" selected>{{ label }}</option>
        {% else %}
            <option value="{{ key }}">{{ label }}</option>
        {% endif %}
      {% endfor %}
          </select>
    {% elif row.type == "field" %}
      {% if row.field_size != None %}
          <input type="text" size="{{ row.field_size }}"
                 name="{{ row.annotation }}" value="{{ row.value }}"/>
      {% else %}
          <input type="text" size="20"
                 name="{{ row.annotation }}" value="{{ row.value }}"/>
      {% endif %}
    {% endif %}
    {% if row.err_msg != None %}
          &nbsp;
          <span class="err_msg">{{ row.err_msg }}</span>
    {% endif %}
        </td>
      </tr>
  {% endfor %}
    </table>
  </div>
{% endblock %}

{% block footer %}
  <div style="width:380px; height:40px; margin-top:8px">
    <input type="submit" name="submit" value="Save"/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="submit" value="Cancel"/>
  </div>
{% endblock %}

