{% extends "boxUI/boxUI.html" %}
{% load boxUI_tags %}

{% block config %}
  {% set title         = "Ripple Annotation Database" %}
  {% set dialog_width  = 600 %}
  {% set dialog_height = 342 %}
  {% set header_height = 32 %}
  {% set footer_height = 40 %}
{% endblock %}

{% block page_head %}
  <style type="text/css">
    a:link, a:visited, a:active, a:hover {
      text-decoration: none;
      color: #a0a0a0;
    }
    td.label {
      text-align: right;
      font-weight: bold;
      font-size: smaller;
    }
    td.field {
      text-align: left;
      font-size: smaller;
    }
    span.err_msg {
      width:330px;
      margin-left:10px;
      margin-right:10px;
      margin-top: 10px;
      font-weight: bold;
      font-style: italic;
      color: red;
      text-align: center;
    }
  </style>
{% endblock %}

{% block header %}
  <div class="centre" style="font-weight:bold; margin-top:4px">
    Welcome to the Ripple Annotation Database
  </div>
{% endblock %}

{% block dialog_prefix %}
 <form method="POST">
   {% csrf_token %}
{% endblock %}

{% block dialog_suffix %}
  </form>
{% endblock %}

{% block contents %}
  <div style="overflow:auto; width:580px; height:270px; margin:10px">
    If you are a new user, please enter the access password you have been
    given:
    <p/>
    <table border="0" cellspacing="0" cellpadding="5"
           style="margin-left:20px; margin-top:20px">
      <tr>
        <td nowrap class="label white_text">
          Password
        </td>
        <td class="field">
          <input type="password" size="30" name="signup_password"/>
{% if signup_err_msg %}
          &nbsp;
          <span class="err_msg">{{ signup_err_msg }}</span>
{% endif %}
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" name="submit" value="Sign Up"/>
        </td>
      </tr>
    </table>
    <p/>
    For existing users, please enter your username and password to sign in:
    <p/>
    <table border="0" cellspacing="0" cellpadding="5"
           style="margin-left:20px; margin-top:20px">
      <tr>
        <td nowrap class="label white_text">
          Username
        </td>
        <td class="field">
          <input type="text" size="30" name="signin_username"
                 value="{{ signin_username }}"/>
        </td>
      </tr>
      <tr>
        <td nowrap class="label white_text">
          Password
        </td>
        <td class="field" nowrap>
          <input type="password" size="30" name="signin_password"/>
{% if signin_err_msg %}
          &nbsp;
          <span class="err_msg">{{ signin_err_msg }}</span>
{% endif %}
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" name="submit" value="Sign In"/>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}

{% block footer %}
  <div style="width:600px; height:40px; margin-top:8px; text-align:right">
    <a href="/admin">Admin Interface</a>&nbsp;&nbsp;
  </div>
{% endblock %}

