{% extends "boxUI/boxUI.html" %}
{% load boxUI_tags %}

{% block config %}
  {% set title         = "Ripple Annotation Database" %}
  {% set dialog_width  = 380 %}
  {% set dialog_height = 212 %}
  {% set header_height = 32 %}
  {% set footer_height = 40 %}
{% endblock %}

{% block page_head %}
  <style type="text/css">
    a:link, a:visited, a:active, a:hover {
      text-decoration: none;
      color: #a0a0a0;
    }
    td.label {
      text-align: right;
      font-weight: bold;
      font-size: smaller;
    }
    td.field {
      text-align: left;
      font-size: smaller;
    }
    span.err_msg {
      width:360px;
      margin-left:10px;
      margin-right:10px;
      margin-top: 10px;
      font-weight: bold;
      font-style: italic;
      color: red;
      text-align: center;
    }
  </style>
{% endblock %}

{% block header %}
  <div class="centre" style="font-weight:bold; margin-top:4px">
    New User Signup
  </div>
{% endblock %}

{% block dialog_prefix %}
 <form method="POST">
   {% csrf_token %}
   <input type="hidden" name="signup_password" value="{{ signup_password }}"/>
{% endblock %}

{% block dialog_suffix %}
  </form>
{% endblock %}

{% block contents %}
  <div style="overflow:auto; width:360px; height:140px; margin:10px">
    <table border="0" cellspacing="0" cellpadding="5"
           style="margin-left:10px; margin-top:10px">
      <tr>
        <td nowrap class="label white_text">
          Desired username
        </td>
        <td class="field">
          <input type="text" size="30" name="username"/>
        </td>
      </tr>
      <tr>
        <td nowrap class="label white_text">
          Choose a password
        </td>
        <td class="field">
          <input type="password" size="30" name="password1"/>
        </td>
      </tr>
      <tr>
        <td nowrap class="label white_text">
          Re-enter password
        </td>
        <td class="field">
          <input type="password" size="30" name="password2"/>
        </td>
      </tr>
{% if err_msg %}
      <tr>
        <td colspan="2" align="center">
          <span class="err_msg">{{ err_msg }}</span>
        </td>
      </tr>
{% endif %}
    </table>
  </div>
{% endblock %}

{% block footer %}
  <div style="width:380px; height:40px; margin-top:8px">
    <input type="submit" name="submit" value="Sign Up"/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="submit" value="Cancel"/>
  </div>
{% endblock %}

