{% extends "boxUI/boxUI.html" %}
{% load boxUI_tags %}

{% block config %}
  {% set title         = "Ripple Annotation Database" %}
  {% set dialog_width  = 530 %}
  {% set dialog_height = 460 %}
  {% set header_height = 32 %}
  {% set footer_height = 40 %}
{% endblock %}

{% block page_head %}
  <style type="text/css">
    a:link, a:visited, a:active, a:hover {
      text-decoration: none;
      color: #ffffff;
    }
    td.label {
      text-align: center;
      font-weight: bold;
      font-size: smaller;
    }
    td.field {
      text-align: left;
      font-size: smaller;
    }
    div.err_msg {
      width:500px;
      margin-left:10px;
      margin-right:10px;
      font-weight: bold;
      font-style: italic;
      color: red;
      text-align: center;
    }
  </style>
{% endblock %}

{% block header %}
  <div class="centre" style="font-weight:bold; margin-top:4px">
    Upload Annotations
  </div>
{% endblock %}

{% block dialog_prefix %}
 <form method="POST" enctype="multipart/form-data">
   {% csrf_token %}
{% endblock %}

{% block dialog_suffix %}
  </form>
{% endblock %}

{% block contents %}
  <div style="overflow:auto; width:520px; height:400px; font-size:smaller;
    margin-left: 10px" class="white_text">
    Please select an Excel spreadsheet to upload.  Note that the spreadsheet
    must consist of only one sheet, and be formatted so that each row in the
    spreadsheet consists of the Ripple address of the desired account, followed
    by one or more pairs of values.  The first value in each pair is the
    annotation key, while the second value is the annotation value.
    <p/>
    For example, consider the following spreadsheet:
    <p/>
    <table border="1" cellspacing="0" cellpadding="2"
           style="margin-left:20px; font-size:smaller" class="white_text">
      <tr>
        <td style="font-weight:bold" align="center">
          A
        </td>
        <td style="font-weight:bold" align="center">
          B
        </td>
        <td style="font-weight:bold" align="center">
          C
        </td>
        <td style="font-weight:bold" align="center">
          D
        </td>
        <td style="font-weight:bold" align="center">
          E
        </td>
        <td style="font-weight:bold" align="center">
          F
        </td>
      </tr>
      <tr>
        <td style="font-weight: bold">
          1
        </td>
        <td>
          r123
        </td>
        <td>
          owner
        </td>
        <td>
          tom
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
      <tr>
        <td style="font-weight: bold">
          2
        </td>
        <td>
          r456
        </td>
        <td>
          owner
        </td>
        <td>
          dick
        </td>
        <td>
          status
        </td>
        <td>
          blocked
        </td>
      </tr>
      <tr>
        <td style="font-weight: bold">
          3
        </td>
        <td>
          r789
        </td>
        <td>
          owner
        </td>
        <td>
          harry
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
    <p/>
    will set the following annotation values for Ripple account
    <code>r123</code>:
    <blockquote>
      owner = tom
    </blockquote>
    For Ripple account <code>r456</code>, the following annotation values will
    be set:
    <blockquote>
      owner = dick<br/>
      status = blocked
    </blockquote>
    And for Ripple account <code>r789</code>, the following annotation values
    will be set:
    <blockquote>
      owner = harry
    </blockquote>
    <input type="file" name="file"/>
    <div class="err_msg">
{% if err_msg %}
      {{ err_msg }}
{% endif %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div style="width:530px; height:40px; margin-top:8px">
    <input type="submit" name="submit" value="Upload"/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="submit" value="Cancel"/>
  </div>
{% endblock %}

