{% extends "boxUI/boxUI.html" %}
{% load boxUI_tags %}

{% block config %}
  {% set title         = "Ripple Annotation Database" %}
  {% set dialog_width  = 600 %}
  {% set dialog_height = 560 %}
  {% set header_height = 32 %}
  {% set footer_height = 40 %}
{% endblock %}

{% block page_head %}
  <style type="text/css">
    a:link, a:visited, a:active, a:hover {
      text-decoration: none;
      color: #ffffff;
    }
    td.label {
      text-align: center;
      font-weight: bold;
      font-size: smaller;
    }
    td.field {
      text-align: left;
      font-size: smaller;
    }
    div.err_msg {
      width:600px;
      margin-left:10px;
      margin-right:10px;
      font-weight: bold;
      font-style: italic;
      color: red;
      text-align: center;
    }
  </style>
{% endblock %}

{% block header %}
  <div class="centre" style="font-weight:bold; margin-top:4px">
    Upload Annotation Template
  </div>
{% endblock %}

{% block dialog_prefix %}
 <form method="POST" enctype="multipart/form-data">
   {% csrf_token %}
{% endblock %}

{% block dialog_suffix %}
  </form>
{% endblock %}

{% block contents %}
  <div style="overflow:auto; width:580px; height:500px; font-size:smaller;
    margin-left: 10px" class="white_text">
    <table border="0" cellspacing="0" cellpadding="5"
           style="margin-left:20px; margin-top:20px">
      <tr>
        <td nowrap class="label white_text">
          Template Name
        </td>
        <td class="field">
          <input type="text" size="30" maxlength="255"
                 name="name" value="{{ name }}">
        </td>
      </tr>
    </table>
    <p/>
    Please select an Excel spreadsheet to upload.  Note that the spreadsheet
    must consist of only one sheet.  The first row in the spreadsheet is
    ignored, and can be used for column headings.  Subsequent rows must have
    the following values, in order:
    <p/>
    <ul>
      <li>The desired annotation key.</li>
      <li>The label to display for this annotation.</li>
      <li>The type of field.  This should be either <code>choice</code> or
          <code>field</code>.</li>
      <li>The default value to use for this field</li>
    </ul>
    For a <code>choice</code> annotation, the remaining cells in the row should
    define the various choices the user can choose between.  Each cell should
    be of the form
    <code>&lt;annotation_value&gt;=&lt;display_text&gt;</code>, where <code>
    &lt;annotation_value&gt;</code> is the desired value of the annotation, and
    <code>&lt;display_test&gt;</code> is the text to display to the user when
    this annotation value is selected.
    <p/>
    For a <code>field</code> annotation, the remaining cells in the row can
    provide various options for the input field.  Each cell should be of the
    form <code>&lt;option&gt;=&lt;value&gt;</code>.  The following options are
    currently supported:
    <p/>
    <table border="1" cellspacing="0" cellpadding="2"
           style="margin-left:20px; font-size:smaller" class="white_text">
      <tr>
        <td style="font-weight:bold" align="right">
          size
        </td>
        <td>
          The desired width of the input field, in characters.
        </td>
      </tr>
      <tr>
        <td style="font-weight:bold" align="right">
          required
        </td>
        <td>
          Set to "Y" if the user must enter a value for this annotation.
        </td>
      </tr>
      <tr>
        <td style="font-weight:bold" align="right">
          min_length
        </td>
        <td>
          The minimum number of characters the user must enter.
        </td>
      </tr>
      <tr>
        <td style="font-weight:bold" align="right">
          max_length
        </td>
        <td>
          The maximum number of characters the user can enter.
        </td>
      </tr>
    </table>
    <p/>
    <input type="file" name="file"/>
    <div class="err_msg">
{% if err_msg %}
      {{ err_msg }}
{% endif %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div style="width:600px; height:40px; margin-top:8px">
    <input type="submit" name="submit" value="Upload"/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="submit" value="Cancel"/>
  </div>
{% endblock %}

